ul{
	background-color: gray;
	width: 130px;
	height: 30px;
	padding-top: 5px;
	padding-left: 2px;

}
ul li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");

	
}

/*selecciona las 5 estrellas*/
ul li:nth-child(1):hover{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(1):hover+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(1):hover+li+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(1):hover+li+li+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(1):hover+li+li+li+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
/*selecciona las 4 estrellas*/
ul li:nth-child(2):hover{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(2):hover+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(2):hover+li+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(2):hover+li+li+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
/*seleccionar 3*/
ul li:nth-child(3):hover{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(3):hover+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(3):hover+li+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
/*dos estrellitas*/
ul li:nth-child(4):hover{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
ul li:nth-child(4):hover+li{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}
/*una estrellita*/
ul li:nth-child(5):hover{

	list-style: none;
	float: right;
	width: 25px;
	height: 25px;
	background-image: url("img/start.png");
	background-position: 0px 25px;
	
}