body{
  
  padding:0;
  background: #07031f;
}
.wrapper{
  position:relative;
  width: 500px;
  height: 500px;
  background-color: #07031f;
}

.body{
  margin:100px;
  width: 300px;
  height: 300px;
  background: ;
  background-color: #6ea1b4;
  background: linear-gradient(to left, #b3e5fc 50%,#88adc0);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  position:absolute;
  z-index:2;
  
}
.eyes{
  box-sizing:border-box;
  
  width:300px;
  height:100px;
  padding-top:25px;
  padding-left:30px;
  padding-right:30px;
  position:relative;
    
  
}
.noseleft{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position:absolute;
  top:70px;
  left:130px;
  -webkit-box-shadow:inset 75px 75px 75px #bdbdbd;
}
.noseright{
   width: 10px;
  height: 10px;
  
  border-radius: 50%;
  position:absolute;
  top:70px;
  left:150px;
  box-shadow: 5px 5px 1 white;
  -webkit-box-shadow:inset 75px 75px 75px #bdbdbd;
}
.eyeleft{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  float:left;
}
.eyerigth{
  
  float: right;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  
}
.bodywhite{
  
  margin-left: 10px;
  width: 280px;
  height: 200px;
  position:absolute;
  opacity:.9;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  background: linear-gradient(to left, #e2e5dc   50%,#b1b8b1);
}
.dientes{
  box-sizing:border-box;
  display:flex;
  padding-top:15px;
  position:absolute;
  background-color:gray;
  top:125px;
  left:100px;
  width:100px;
  height:10px;
  border:none;
  border-radius:5px;
  overflow:hidden;

}
.dientedown{
  position:absolute;
  width:80px;
  left:-9px;
  top:0px;
  float:left;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white;
  z-index:1;
  align-self:flex-start;
  
}
.dientes div:nth-of-type(2){
  left:10px;
  
  
}
.dientes div:nth-of-type(3){
  left:30px;
  
  
}
.dientes div:nth-of-type(4){
  left:50px;
  
  
}
.dientes div:nth-of-type(5){
  left:70px;
  
  
}
.dientes div:nth-of-type(6){
  left:90px;
  
  
}
.dienteup{
  float:left;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white;
  align-self:flex-end ;
}
.aletatop1{
  position:absolute;
  top:69px;
  left:230px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #6ea1b4;
}
.aletatop2{
  position:absolute;
  top:55px;
  left:200px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #6ea1b4;
}
.aleta_left{
  position:absolute;
  top:280px;
  left:10px;;
  width: 100px;
  height: 50px;
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-right: 100px solid #6ea1b4;
  border-bottom: 30px solid transparent;
  border-radius: 30px;
  
  z-index:1;
  
  
}
.aleta_right{
  position:absolute;
  top:280px;
  left:390px;;
  width: 100px;
  height: 50px;
  width: 0;
  height: 0;
  
  border-top: 70px solid transparent;
  border-left: 100px solid #6ea1b4;
  border-bottom: 30px solid transparent;
  border-radius: 30px;
  z-index:1;
}
/*animate*/


@-webkit-keyframes aleta{
  
   0% {-webkit-transform: rotate(-15deg);}
  100% {-webkit-transform: rotate(15deg);}
}
@-moz-keyframes aleta{
  
   0% {-moz-transform: rotate(-15deg);}
  100% {-moz-transform: rotate(15deg);}
}
.aleta{
-webkit-animation-name: aleta;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  transform-origin:top;

  -moz-animation-name: aleta;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
  transform-origin:top;
}

@-webkit-keyframes aletaleft{
  
   0% {-webkit-transform: rotate(15deg);}
  100% {-webkit-transform: rotate(-15deg);}
}
@-moz-keyframes aletaleft{
  
   0% {-moz-transform: rotate(15deg);}
  100% {-moz-transform: rotate(-15deg);}
}
.aletale{
  -webkit-animation-name: aletaleft;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  transform-origin:top;

    -moz-animation-name: aletaleft;
  -moz-animation-duration: .3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
  transform-origin:top;
}
@-webkit-keyframes aletahead{
  
   0% {-webkit-transform: rotate(15deg);}
  100% {-webkit-transform: rotate(-15deg);}
}
@-moz-keyframes aletahead{
  
   0% {-moz-transform: rotate(15deg);}
  100% {-moz-transform: rotate(-15deg);}
}
.aletahead{
  -webkit-animation-name: aletahead;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  transform-origin:bottom;

    -moz-animation-name: aletahead;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-out;
  -moz-animation-fill-mode: forwards;
  transform-origin:bottom;
}
@-webkit-keyframes pez{
  
   0% {-webkit-transform: rotate(15deg);}
   
  100% {-webkit-transform: rotate(-15deg);}
}
@-moz-keyframes pez{
  
   0% {-moz-transform: rotate(15deg);}
   
  100% {-moz-transform: rotate(-15deg);}
}
.pez{
  -webkit-animation-name: pez;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
  
  -moz-animation-name: pez;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: .3s;
}
@-webkit-keyframes boca{
  
   0% {-webkit-transform: rotate(5deg);}
    20%{height:60px;}
    80%{height:100px;}
   100% {-webkit-transform: rotate(-5deg);}
}
@-moz-keyframes boca{
  
   0% {-moz-transform: rotate(5deg);}
    20%{height:60px;}
    80%{height:100px;}
   100% {-moz-transform: rotate(-5deg);}
}
.boca{
    -webkit-animation-name: boca;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
   -webkit-transition-property:height;

  -moz-animation-name: boca;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: .3s;
   -moz-transition-property:height;
  
}
@-webkit-keyframes body{
  
    0%{margin-left:0px; margin-top:0px;}

    20%{margin-left:50px; margin-top:50px;}
    
    30%{margin-left:100px; margin-top:150px;}

    40%{margin-left:200px; margin-top:250;}
    
    50%{margin-left:300px; margin-top:350px;}
    
    
    60%{margin-left:400px; margin-top:300px;}

    70%{margin-left:500px; margin-top:200;}

    80%{margin-left:600px; margin-top: 100px;}

    90%{margin-left: 700px; margin-top: 200px;}

    100% {margin-left:800px; margin-top:300px;}

    
   
}
@-moz-keyframes body{
  
    0%{margin-left:0px; margin-top:0px;}

    20%{margin-left:50px; margin-top:50px;}
    
    30%{margin-left:100px; margin-top:150px;}

    40%{margin-left:200px; margin-top:250;}
    
    50%{margin-left:300px; margin-top:350px;}
    
    
    60%{margin-left:400px; margin-top:300px;}

    70%{margin-left:500px; margin-top:200;}

    80%{margin-left:600px; margin-top: 100px;}

    90%{margin-left: 700px; margin-top: 200px;}

    100% {margin-left:800px; margin-top:300px;}

    
   
}
.wrapperbody{
  -webkit-animation-name: body;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: .5s;
   -webkit-transition-property:margin-top;
   -webkit-transition-property:margin-left;

     -moz-animation-name: body;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: .5s;
   -moz-transition-property:margin-top;
   -moz-transition-property:margin-left;
  
}