html body, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
}
#first{
    width: 100%;
    background-color: #30323a;
}
#first header{
    width: 70%;
    height: 15%;
    margin: 0 auto;
    border: 1px solid white;
    margin-bottom: 2%;
    display:flex;
    justify-content:space-between;
}
header nav ul{
    display: inline-block;    
    margin: 0;
    padding: 0;
    
    height: 100%;
    border: 1px solid red;
}
nav li{
    text-decoration: none;
    display: inline-block;
}

.logo{
    font-size: 50%;
    color: #77797e;
}
#read{
    width: 95%;
    height: 45%;
    background-color: #8a8a8a;
    margin: 0 auto;
    margin-bottom: 2%;
    position: relative;
}
#read img{    
    margin-top: 1%;
    width: 20%;
    float: left;
}
.info{
    width: 30%;
    position: absolute;
    top: 20%;
    left: 5%;
    

}
#carnatic{

    display: inline-block;
width: 74%;

background-color: #fff;
margin-top: 10px;
padding: 3%;
font-size: 72%;
    
}
#note{
    display: block;
    position: relative;
    width: 60%;
    height: 10%;
    top:0px;
    left: 39px;
    padding-left: 5%;
    background: #97c13c;
    color: white;
    outline: none;
    border: none;
    margin-top: -0%;
    margin-left: 30%;
    padding: 4%;
    
}
#note::after{
    
    content: "";
	width: 15%;
	height: 90%;
	position:absolute;
    top: 22%;
    left: 3%;
	background-image: url(../imgs/parte1/notes.png);
    background-repeat: no-repeat;
    background-size: 70%;
	
	
    

}
#notes{
    display: block;
    position: relative;
    width: 20%;
    height: 7%;
    margin: 0 auto;
    padding-left: 2.5%;
    background: #97c13c;
    color: white;
    outline: none;
    border: none;
    margin-top: 2%;
    
}
#notes::after{
    
    content: "";
	width: 15%;
	height: 90%;
	position:absolute;
    top: 22%;
    left: 3%;
	background-image: url(../imgs/parte1/notes.png);
    background-repeat: no-repeat;
    background-size: 70%;
	
	
    

}
#short{
    width: 70%;
    margin: 0 auto; 
    text-align: center;
    color: white;
    }
#short h3{
    font-size: 16px;
}
#second{
    background-color: #97c13c;
    width: 100%;
    
}
#second nav{
    padding-top: 0;
    padding-bottom: 0;
    width: 20%;
    list-style: none;
    border: 1px solid #97c13c;
    margin: 0 auto;
}
#second nav li{
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    width: 40px;
    height: 40PX;
    
    
    list-style: none;
}
#fotos{
    
    margin: 0 auto;
    width: 70%;
    height: 60%;
    margin: 0 auto
    box-sizing: border-box;
    margin-bottom: 5%;
}
#fotos img{
    float: left;
    width: 30%;
    height: 50%;
    margin: 1%;
}
#all{
    display: block;
    position: relative;
    width: 20%;
    height: 7%;
    margin: 0 auto;
    padding-left: 2%;
    background: #fff;
    color: #97c13c;
    outline: none;
    border: none;
    
}
#all::after{
    
    content: "";
	width: 15%;
	height: 90%;
	position:absolute;
    top: 22%;
    left: 7%;
	background-image: url(../imgs/parte2/engrane.png);
    background-repeat: no-repeat;
    background-size: 70%;
}
#third{
    background-color: #34aecc;
    width: 100%;
}
#third h1{
    padding-top: 4%;
    height: auto;
    width: 5.5%;
    margin: 0 auto;
    color: white;
}
#profiles{
    
    margin: 0 auto;
    width: 70%;
    height: 70%;
    margin: 0 auto
    box-sizing: border-box;
    
}
#profiles div img{
    width: 100%;
    height: 80%;
    
}
#profiles div:first-child{
    opacity: .20;
    
    
}
#profiles div:last-child{
    opacity: .20;
    
    
}
#profiles div{
    float: left;
    width: 30%;
    height: 60%;
    margin: 1%;
    color: white;
    text-align: center; 
}
#profiles div h3{
    font-size: 100%;
    height: auto;
}
#profiles div h4{
    font-size: 80%;
    height: auto;
}

#social{
width: 100%
}
#social li{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
        
        
    display: inline-block;
    width: 15%
}
#meet{
    display: block;
    position: relative;
    width: 20%;
    height: 7%;
    margin: 0 auto;
    padding-left: 2%;
    background: #fff;
    color: #34aecc;
    outline: none;
    border: none;
    
}
#meet::after{
    
    content: "";
	width: 15%;
	height: 90%;
	position:absolute;
    top: 22%;
    left: 7%;
	background-image: url(../imgs/parte3/user.png);
    background-repeat: no-repeat;
    background-size: 70%;
}
#fourth{
    width: 100%;
    background-color: #30323a;
    color: white;
    padding-top: 3%;
}
#fourth h1{
    
    text-align: center;
    height: auto

}
#fourth h2{
    text-align: center;
    height: auto;
}
#fourth h3{
    margin:  0 auto;
    width: 70%;
    text-align: center;
    height: auto;
    margin-bottom: 2%;
}
#more{
    width: 70%;
    margin:  0 auto;
    padding: 2
    
}
.thismore img{
    margin: 5%;
    width: 13%;
}
.thismore{
text-align: justify;
    width: 30%;
    float: left;
    margin-left: 3%;
     font-size: 80%;
}
.thismore p{
    color:#aaabad;

}
.remo{
    display: block;
    cursor: pointer;
    width: 40%;
    height: 20%;
    margin: 7% auto 0;
    padding: 4%;
    background: #45474e;
    color: #8f9195;
    outline: none;
    border: none;
    margin-bottom: 7%;
}
#skills{
    width: 70%;
    height: 50%;
    margin: 0 auto;
    padding-left: 2%;
}
.skill{
    float: left;
    text-align: justify;
     width: 30%;
    color: #8f9195;
    margin: 1%;
    
}
.skill h3{
 font-size: 90%;
    
}
.skill p{
 font-size: 80%;
}
#fit{
width: 100%;
background-color: #f95353;
}
#fit h1{
    text-align: center;
    height: auto;
    padding: 5%;
    color: #fff;
}
#fit p{
    display: block;
    margin-top: 4%;
    color: #fca9a9;
    margin: 0 auto;
    width:  70%;
    font-size: 130%;
    height: auto
}
.goto{
    display: block;
    position: relative;
    width: 20%;
    height: 15%;
    margin: 0 auto;
    padding-left: 2%;
    background: #fff;
    color: #f95353;
    outline: none;
    border: none;
    margin-top: 4%;
}
.goto::after{
    
    content: "";
	width: 15%;
	height: 90%;
	position:absolute;
    top: 22%;
    left: 7%;
	background-image: url(../imgs/parte5/money.png);
    background-repeat: no-repeat;
    background-size: 70%;
}
#six{
    
    width: 100%;
    background-image: url(../imgs/parte6/mapa.png);
    background-repeat: no-repeat;
    padding: 5% 10%;
    box-sizing: border-box;
    
}
#contact, #dir{
    width: auto;
}
#dir li{
    list-style: none;
    padding: 2%;
}
#dir li a{
    text-decoration: none;
    
    color: white;
    
}
#dir li:first-child{
    opacity: .30;
}
#contact li{
    list-style: none;
    padding: 2%;
}
#contact li a{
    text-decoration: none;
    
    color: white;
    
}
#contact li:first-child{
    opacity: .30;
}
#contact img{
    margin-left: 7%;
    margin-top: 7%;
    
}
.leftside{
    float: left;
    width: auto;

}
.contact{
width: 70%;
float: right;
}
textarea{
    display: block;
    width: 100%;
    opacity: .30;
    
}
#name{
    display: inline-block;
    opacity: .30;
    width: 47%;
    padding: 1%;
}
#email{
    display: inline-block;
    opacity: .30;
    width: 47%;
    margin-right: %;
    padding: 1%;
}
.send{
    display: block;
    position: relative;
    width: 25%;
    height: 15%;
    padding-left: 3%;
    background: #fff;
    color: #f95353;
    outline: none;
    border: none;
    margin-top: 4%;
    padding: 2%;
}
.send::after{
    
    content: "";
	width: 15%;
	height: 90%;
	position:absolute;
    top: 22%;
    left: 7%;
	background-image: url(../imgs/parte6/plane.png);
    background-repeat: no-repeat;
    background-size: 80%;
}
#seven{
    width: 100%;
    background-color: #30323a;
      padding: 5% 10%;
    box-sizing: border-box;
    color: #fff;
    
    
    
}
#piel{
    width: 40%;
    text-align: left;
    float: left;
    
}
#piel h1{
    height: auto;
    font-size: 120%;
    
}
#pier{
    width: 40%;
    text-align: right;
    float: right;
    
}
#pier h2{
    height: auto;
    font-size: 100%;
}
#pier h2:first-child{
    color: #67686d;
    
}
#usno{
    padding: 2%;
    display: block;
    position: relative;
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    height: 20%;
    box-shadow: ;
    padding-right: 30%;
    background: #fff;
    color: #30323a;
    outline: none;
    border: none;
    margin-top: 4%;
}
#usno::after{
    
    content: "";
	width: 50%;
	height: 90%;
	position:absolute;
    top: 2%;
    right: -7%;
    background-image: url(../imgs/parte6/t-f.png);
    background-repeat: no-repeat;
    background-size: 70%;
}
#seven h4{
    width: 100%;
    height: auto;
    margin-top: 13%;
    color: #67686d;
}