html, body{
	margin: 0px;
	padding: 0px;
	background-color: white;
}
.wrapper{
	width: 90%;
	height: 100%;
	margin: 0 auto 0 auto;

}
header{
	width: 100%;
	height: 120px;
	text-align: center;
	margin-bottom: 40px;
	
	
	
}
h3{
	margin:0px;
	color: white;
}
#logo{
	width: 20%;
	height: 80px;
	float: left;
	margin-top: 40px;
	background-color: gray;
	
}
#descript{
	width: 40%;
	height: 40px;
	float: left;
	margin-top: 80px;
	margin-left: 20px;
	background-color: gray;
}

#login{
	width: 35%;
	height: 60px;
	float: right;
	margin-top: 0px;
	background-color: gray;
}
nav{
	width: 100%;
	height: 50px;
	margin-bottom:  40px;
	background-color: gray;
	
	padding-top: 5px;
	
}
nav ul{
 margin: 0px;
 padding: 0px;

}
nav li{

	margin-right: 100px;
	list-style: none;
	display: inline;
	font-size: 1.5em;
	color: black;

}
.search{
	margin-left: 400px;
}
main{
	width: 65%;
	height: 1000px;
	float: right;
	margin-bottom: 40px;
	

	

}
aside{
	width: 30%;
	height: 1000px;
	float: left;
	
	margin-bottom: 40px;
}

aside :nth-child(-n+4){
	width: 100%;
	height: 150px;
	background-color: gray;
	margin-bottom: 20px;
}
aside :first-child{
	width: 100%;
	height: 200px;
	background-color: gray;
	margin-bottom: 20px;
}
#slider{
	width: 100%;
	height: 200px;
	background-color: gray;
	margin-bottom: 20px;
}
#main-left{
	width: 48%;
	height: 150px;
	float: left;
	background-color: gray;
	margin-bottom: 40px;
}
#main-right{
	width: 48%;
	height: 150px;
	float: right;
	background-color: gray;
	margin-bottom: 40px;
}
#articles{
	clear: both;
	width: 100%;
	
}
#article h2{
	font-size: 2em;
}
#articles h2, h3{
	color: black;
}
#articles p{
	text-align: justify;
	margin-bottom: 10px;
}

footer{
	width: 100%;
	height: 260px;
	clear: both;
	background-color: gray;
}
footer div{
	width: 30%;
	height: 150px;
	background-color: white;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
.end{
	margin: 0px;
	width: 100%;
	height: 70px;
}
.end :nth-child(-n+2){
	float: right;
}

.end :first-child{
	float:left;
}