html, body{
	margin: 0px;
	padding: 0px;
	background-color: #333366;
}

h1, h2{
	color: white;
}
.wrapper{
	margin: 0px;
	width: 95%;
	height: 100%;
	margin:  0 auto 0 auto;
	text-align: center;
}
header{

	width: 100%;
	height: 100px;
	margin-bottom: 40px;
	background-color: #6699CC;

}	
aside{
	float: left;
	width: 20%;
	height: 400px;
	margin-bottom: 40px;
	background-color: #6699CC;
}
main{

	width: 75%;
	height: 400px;
	float: right;
	margin-bottom: 40px;
	
}	
#photo{
	width: 75%;
	height: 280px;
	margin-bottom:20px;
	float: left;
	background-color: #6699CC;
	
}
#photo-aside{
	width: 20%;
	height: 280px;
	margin-bottom:20px;
	float: right;
	background-color: #6699CC;

}
#photo-footer{
	width: 100%;
	height: 100px;
	clear: both;
	background-color: #6699CC;

}
footer{
	width: 100%;
	height: 100px;
	clear: both;
	background-color: #6699CC;
	
}
