@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

@font-face {
    font-family: 'architects_daughterregular';
    src: url('fonts/architectsdaughter-webfont.eot');
    src: url('fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/architectsdaughter-webfont.woff') format('woff'),
         url('fonts/architectsdaughter-webfont.ttf') format('truetype'),
         url('fonts/architectsdaughter-webfont.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: 'architects_daughterregular';
	
}
/*span con font-famyly*/
.sans_serif{
	font-family: sans-serif;

}
.serif{
	font-family: serif;
	font-size: 2em;	
}
.fantasy{
	font-family: fantasy;
	font-size: 2em;

}
.cursive{
	font-family: cursive;
	font-size: 2em;
}
.monospace{
	font-family: monospace;
}
/*font vairant*/
.fv-normal{
	font-variant: normal;
}
.fv-small-caps{
	font-variant: small-caps;
}
/*font size*/
.small{
	font-size: small;
}
.smaller{
	font-size: smaller;
}
.medium{
	font-size: medium;
}
.large{
	font-size: large;
}
.xsmall{
	font-size: x-small;
}
.xxsmall{
	font-size: xx-small;
}
.xlarge{
	font-size: x-large;
}
.xxlarge{
	font-size: xx-large;
}
.em{
	font-size: 1em;
} 
.px{
	font-size: 14px;
}
.pt{
	font-size: 14pt;
}
.porcentaje{
	font-size: 200%;
}
/*line*/
#line p{
	width: 50%;

}
.ln-normal{
	line-height: normal;

}
.ln-num{
	line-height: 5;
}
.ln-em{
	line-height: 2em;
}
.ln-por{
	line-height: 150%;
}
/*ejemplo*/
.div1{
	line-height: 50px;
}
.div2{
	list-style: 50%;
}
.div2 p{
	line-height: inherit;
	line-height: normal;

}
/*text Decoration*/
.none{
	text-decoration: none;
}
.under{
	text-decoration: underline;
}
.over{
	text-decoration: overline;
}
.line{
	text-decoration: line-through;-
}
/*ejemplo*/
.ej-under{
	text-decoration: underline;
}
#ej-none{
	text-decoration: none;
}
/*font style*/
.fs-normal{
	font-style: normal;
}
.fs-italic{
	font-size: italic;
}
.fs-oblique{
	font-style: oblique;
}
.fs-ine{
	font-style: inherit;
}
/*ejemplo de font style*/
.fs-p{

	font-style: italic;

}
.fs-text1{
	font-style: oblique;
}
.fs-text2{
	
	font-style: inherit;
	font-style: normal;
}
/*Line Wheight*/
.line1{
	font-weight: 100;
}
.line2{
	font-weight: 200;
}
.line3{
	font-weight: 300;
}
.line4{
	font-weight: 400;
}
.line5{
	font-weight: 500;
}
.line6{
	font-weight: 600;
}
.line7{
	font-weight: 700;
}
.line8{
	font-weight: 800;
}
.line9{
	font-weight: 900;
}