body{
    font-family: arial;
}
table{

    
   border-collapse: collapse;
    caption-side: bottom;
    position: relative;
    width: 574px;
	
}
table::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 570px;
    height: 100%;
    border:  4px solid #0c2a62;
    border-radius:10px; 
}

caption{
    padding:  5px;
    font-size: 10px;
    color: #8a8a8a;
}


thead{

    background-image: url(header-background.gif);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-position: 3px 3px;

    
    
}
h1, h2{
    padding-left: 20px;
    
}
h1{
	color: white;
    font-size: 27px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    color: white;
    font-family: Corbel;
    font-size: 16px;
}
tbody{
    font-size: 11px;
    text-align: center;

}
tbody tr td{
    border: 1px solid #c7cddb;
    color:#747474;
    padding: 10px;
}
tbody tr{
    background-color: #f0f0f0;
    height: 48px;


}
tbody tr td:nth-of-type(1){
    background-color: #dde4f3;
    font-size: 13px;
    color: #1f2d71;
    text-align: left;
    padding-right: 10px;
    padding-left: 20px;
}
thead tr:first-child{
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: 400px 25px; 
 }
 thead tr:nth-child(2) td{

 	background-color: #ffffff;
    border: 1px solid #c7cddb;
 	border-bottom: 2px solid #0c2a62;
 	height: 48px;
    color: #1f2d71;
    font-size: 13px;
    text-align: center;
    


 }
 table tfoot td{
 	background-image: url(footer-background-gradient.png);
    height: 48px;
    color: #070707;

    padding-right: 10px;
    padding-left: 20px;

 }