html, body{
	padding: 0;
	margin: 0;

	width: 100%;
	height: 100%;
}
#header{
	width: 100%;
	height: 30%;
	background-color: #97c13c;
	color: white;
	padding-top: 10px;
}
#header .logo{
	width: 100%;
	height: 50%;
	display: block;
	position: relative;
}
#header.logo img{
	position: absolute;
	top: 50%;
	left: 50%;
}
#header .title{
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
}
#header .title h1{
	font-size: 300%;
	margin: 0 auto;
}
#content{
	width: 100%;
	height: 50%;
	background-color: #97c13c;
}
#content button{
	margin-top: 5%;
	width: 30%;
	height: 25%;
	background-color: white;
	outline: none;


	box-shadow:         3px 1px 22px 0px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}
#content button a{
	text-decoration: none;
	color: #97c13c;
	font-size: 40px;
}
#footer{
	width: 100%;
	height: 20%;
	background-color: #262626;
}
#footer p {
	
	margin:0;
	padding: 	20px;
	font-size: 30px;
	color: white;
	
}
